apiVersion: apps/v1
kind: Deployment
metadata:
  name: homectl-next
  namespace: default
  annotations:
    secret.reloader.stakater.com/reload: "homectl-next-settings"
spec:
  selector:
    matchLabels:
      app: homectl-next
  template:
    metadata:
      labels:
        app: homectl-next
    spec:
      volumes:
        - name: homectl-next-settings
          secret:
            secretName: homectl-next-settings

      containers:
        - name: homectl-server
          image: ghcr.io/fruitiex/homectl-ui:main@sha256:5da4499cbadc145aef7b4cbb56a823390d7a299a6e86f628364db1c77a60cefa
          env:
            - name: TZ
              value: Europe/Helsinki
          resources:
            limits:
              memory: 256Mi
              cpu: 500m
          volumeMounts:
            - mountPath: /app/.env
              name: homectl-next-settings
              subPath: .env
